/*
Custom Css
*/
.logo{
    height: 150px !important;
}

.card img{
    height: 410px !important;
}
.whatsapp {
    position:fixed;
    width:40px;
    height:40px;
    bottom:40px;
    right:60px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:160px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }